---
import ExperienceList from "../React/ExperienceList.tsx";
---

<section id="experience" class="py-16 border-t border-[#ffffff10] text-[var(--white)]">
  <div class="max-w-5xl mx-auto text-center space-y-8">
    <h2 class="text-4xl font-semibold text-[var(--white)]">Experience</h2>
    <p class="text-[var(--white-icon)] text-lg">
      A brief look at my professional journey and the projects that shaped my skills.
    </p>

    <ExperienceList client:load />
  </div>
</section>
